# macOS metadata files (must be at the top to work correctly)
**/.DS_Store
**/.AppleDouble
**/.LSOverride
**/._*

ui/node_modules
ui/build
!ui/build/.gitkeep
Dockerfile
docker-compose*.yml
data
*.db
testDB
navidrome
navidrome.toml
tmp
!tmp/taglib
dist
binaries
/cache
/data/cache
music
!Dockerfile