# macOS metadata files
._*
.DS_Store
.AppleDouble
.LSOverride

ui/node_modules
ui/build
!ui/build/.gitkeep
Dockerfile
docker-compose*.yml
data
*.db
testDB
navidrome
navidrome.toml
tmp
!tmp/taglib
dist
binaries
cache
music
!Dockerfile